.game-menu-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 0 30px 30px 30px;
  text-align: center;
  width: 50vw;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 500px;
  height: 68.5vh;
}

.game-container {
  align-items: center;
  display: flex;
  justify-content: center;
}